
APP_URL="https://sanjarme.uz"

# Firebase Configuration (Admin Panel uchun)
VITE_FIREBASE_API_KEY=AIzaSyCqHjImS3JuBWeaiYWXYbwi944IkDRii5c
VITE_FIREBASE_AUTH_DOMAIN=portfolio-9d780.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portfolio-9d780
VITE_FIREBASE_STORAGE_BUCKET=portfolio-9d780.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=34846655045
VITE_GA_MEASUREMENT_ID=G-CSCGWG2N5S
VITE_FIREBASE_APP_ID=1:34846655045:web:66f18dda11873ea5c5d92c


VITE_IMGBB_API_KEY="86024be68e98a6069caf7a55080ae578"
